<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.inflater">

  <uses-permission android:name="android.permission.INTERNET" />
  <application>
    <activity
      android:name=".DisplayMessageActivity"
      android:exported="true" />
    <activity
      android:name=".DisplayVideoActivity"
      android:exported="true"
      android:theme="@style/Theme.ReactNative.AppCompat.Light.NoActionBar.FullScreen" />
  </application>
</manifest>
